.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: absolute;
}

.fade-in.active {
  opacity: 1;
}

@media (max-width: 768px) {

  .logo {
    display: none;
  }

  .skillbars {
    width: 80%;
  }

}