@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(to top left, var(--zinc-900), var(--zinc-900));
    background: darkblue;
}

:root {
    --zinc-900: rgb(0, 0, 0);
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* LOGOS */

.logo-container {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.logo-fade-in {
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* Skills-bars */

.skills-bars {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.skill-bar {
    width: 800px;
    height: 25px;
    margin: 15px;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    /* background-color: #1d1d1d; */
}

.skill-fill {
    height: 100% !important;
    background: linear-gradient(to right, darkblue, #1d1d1d, darkblue);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 0;
    animation: fillAnimation 2s ease-in-out forwards;
}

@keyframes fillAnimation {
    0% {
        width: 0;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* carousel - text */

.carousel-container {
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.carousel-item {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: top 1s, opacity 0.5s;
}

.carousel-item.active {
    top: 0;
    opacity: 1;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* carousel - photo */

.carousel {
    border-radius: 20px;
}

.centered-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    /* width: 100%; */
    border-radius: 20px;
    font-size: x-large;
    font-weight: bold;
    color: white;
    padding: 40px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */
/* Mobile Screen */

@media (max-width: 900px) {
    .skill-bar {
        width: 330px;
        height: 25px;
        margin: 8px;
    }

    .centered-label {
        padding: 5px;
        width: 100%;
        font-size: medium;
        border-radius: 0px;
    }
}

@media (max-height: 630px) {
    @media (orientation: landscape) {
        .bg-gradient-to-tl {
            height: 125vh;
        }
    }

    .skills-bars {
        top: 5rem;
    }

    .skill-bar {
        width: 500px;
        padding: 4px;
        margin: 0px !important;
    }

    .skill-fill {
        font-size: 10px;
    }
}
