@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: darkblue;
}

.logo-container {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.logo-fade-in {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.skills-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.skill-bar {
  width: 800px;
  height: 20px;
  margin: 15px;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  /* background-color: #1d1d1d; */
}

.skill-fill {
  height: 100% !important;
  background: linear-gradient(to right, darkblue, #1d1d1d, darkblue);
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 0;
  animation: fillAnimation 2s ease-in-out forwards;
}

@keyframes fillAnimation {
  0% {
    width: 0;
  }
}

@media (max-width: 900px) {
  .skill-bar {
    width: 330px;
    height: 25px;
  }
}
